/* Imposta le dimensioni fisse per le immagini */
.custom-img {
    width: 100%;      /* L'immagine si adatta alla larghezza del contenitore */
    height: 200px;    /* Altezza fissa per le immagini */
    object-fit: cover; /* Assicura che l'immagine riempia il contenitore senza distorcersi */
}

/* Imposta dimensioni fisse per le card */
.custom-card {
    width: 100%;      /* Le card occuperanno tutta la larghezza della colonna */
    max-width: 100%;  /* Non supereranno mai la larghezza della colonna */
    height: 100%;     /* Le card si adattano all'altezza del contenitore */
    min-height: 400px; /* Impostiamo un'altezza minima per le card */
    min-width:250px !important; 
}

    #stickyForm {
        position: sticky;
        top: auto;
        z-index: 1050;
        display: none;

        /* Initially hidden */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .search-btn {
        position: fixed;

        right: 20px;
        z-index: 1060;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        background-color: var(--text-primary-rgb);
    }
    .search-btn i::before{
        color: var(--text-secondary-rgb) !important;
    }

    .search-btn:hover {
        background-color: #0056b3;
        background-color: var(--text-secondary-rgb);
    }

    .search-btn:hover i::before{
        color: var(--text-primary-rgb) !important;
    }

    .close-btn {
        padding: 2px 10px !important;
        min-width: auto;
        text-decoration: none;
    }

/* Rende le card più leggere su schermi piccoli */
@media (max-width: 768px) {
    .custom-card {
        min-height: 350px; /* Altezza ridotta per schermi piccoli */
    }

    .custom-img {
        height: 150px; /* Altezza dell'immagine ridotta per schermi piccoli */
    }
}