/* Imposta le dimensioni fisse per le immagini */
.custom-img {
    width: 100%;      /* L'immagine si adatta alla larghezza del contenitore */
    height: 200px;    /* Altezza fissa per le immagini */
    object-fit: cover; /* Assicura che l'immagine riempia il contenitore senza distorcersi */
}

/* Imposta dimensioni fisse per le card */
.custom-card {
    width: 100%;      /* Le card occuperanno tutta la larghezza della colonna */
    max-width: 100%;  /* Non supereranno mai la larghezza della colonna */
    height: 100%;     /* Le card si adattano all'altezza del contenitore */
    min-height: 400px; /* Impostiamo un'altezza minima per le card */
    min-width:250px !important; 
}

/* Rende le card più leggere su schermi piccoli */
@media (max-width: 768px) {
    .custom-card {
        min-height: 350px; /* Altezza ridotta per schermi piccoli */
    }

    .custom-img {
        height: 150px; /* Altezza dell'immagine ridotta per schermi piccoli */
    }
}