.form-control{
    min-width: 300px;    
}

@media (max-width: 576px) {
    .form-control{
        min-width: auto;    
    }


    .welcome{
        width: 100%;
        text-align: center  ;
    }
}